.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
}

.main a{
  color: rgb(107, 171, 255);
  text-decoration: none;
}

